		<p>
			<%= link_to 'Return to the main page', admin_articles_path %> |
                	<%= link_to 'Edit', edit_admin_article_path(@article) %> |
                	<%= link_to 'Delete', admin_article_path(@article), :method => :delete %>
                </p>

		<h1> <%= h @article.title -%> </h1>
                <p> (from group: <%= h @group_name -%> ) </p>
		<p> <%= h @article.content -%> </p>
		<h2> Comments </h2>
		<p>		
			<%= link_to 'Add comment', new_admin_article_comment_path(@article) %> 
		</p>
		
		<% @article.comments.each do |a| %>
			Written by <b> <%= h a.author %> </b> | 
			<%= link_to 'Remove comment', admin_comment_path(a), :method => :delete %>

			<br />
			<p> <%= h a.content %> </p>
		<% end %>		
